@import "../../styles/variables";
@import "../../styles/mixins";

.navbar {
  background: $teal-dark;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .cart-icon {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.navbar-title {
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
